# required by next-sitemap with pnpm
enable-pre-post-scripts=true

# pnpm disable strict version check
# https://github.com/orgs/vercel/discussions/6865#discussioncomment-9468470
package-manager-strict=false

# This fixes the unmet peer dependency warning
# https://stackoverflow.com/a/72572859/4865314
auto-install-peers=true